<div class="container-login px-5">
    <div class="row justify-content-center align-content-center vh-100">
        <div class="row shadow-sm shadow-lg bg-body container-login-content rounded-3">
            <div class="col container-div-img d-lg-block d-none d-md-none col-md-4 col-lg-6 col-xl-6 rounded-start">
            </div>

            <!-- ------ l -->

            <div class="col bg-white mt-2 rounded-3 container-login-content">
                <h2 class="fw-bold text-center pt-1 mb-1 mt-5">Ruah Académico</h2>
                <h6 class="text-center mb-4">
                    Bienvenido, por favor inicie sesión en su cuenta.
                </h6>

                <!-- LOGIN -->

                <form action="" [formGroup]="loginFormulario" (ngSubmit)="loginSubmit()">
                    <div class="my-3 mx-3 mt-4">
                        <!-- <label for="email" class="form-label"> Correo electrónico</label> -->
                        <input type="email" class="form-control" name="email" placeholder="Usuario" formControlName="email" />
                    </div>
                    <div class="mb-3 mx-3">
                        <!-- <label for="password" class="form-label"> Contraseña</label> -->
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" formControlName="password" />
                    </div>

                    <!-- <div class="d-grid mx-3 py-2">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div> -->
                    <div class="d-grid px-3 pt-3">
                        <button class="btn btn-outline-primary w-100 my-1" type="submit" [disabled]="loginFormulario.invalid">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="./assets/logo-unicesmag.png" alt="" width="40" />
                                </div>
                                <div class="col-8 text-center btn-google">Iniciar Sesión</div>
                            </div>
                        </button>
                    </div>
                </form>

                <!-- LOGIN CON GOOGLE -->

                <div class="w-100 mt-3 px-3">
                    <!-- <div class="row text-center">
                        <div class="col-12 mb-3"> Iniciar sesión con Google </div>
                    </div> -->
                    <div class="row">
                        <div class="d-grid">
                            <button class="btn btn-outline-danger w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <img src="./assets/logo-google.png" alt="" width="40" />
                                    </div>
                                    <div class="col-8 text-center btn-google">Google</div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="my-2 mx-3 text-center">
                    <span><a href="#"> Recuperar contraseña unicesmag</a></span>
                </div>
            </div>
        </div>
    </div>
</div>