.container-login {
    background-image: url(../../../assets/background-login-body.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-login-content {
    max-width: 1200px;
    min-height: 630px;
    min-width: 100px;
    min-height: 600px;
}

.container-div-img {
    background-image: url('../../../assets/background-login.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: -12px;
}

h2 {
    font-size: 45px;
    color: #103757;
}

h6 {
    color: #103757;
}

input {
    height: 50px;
}

.example-class {
    color: #103757;
}

.swal2-styled.swal2-confirm.swalBtnColor {
    color: #FFC900
}

// body {
//     background-image: url(./assets/background-login-body.jpg);
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
// }
// .lb {
//     margin-bottom: 30px;
// }
// .prueba {
//     max-width: 1200px;
//     min-height: 630px;
//     min-width: 100px;
//     min-height: 600px;
// }
// .bg {
//     background-image: url('./assets/background-login.png');
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     margin-left: -12px;
//     /* margin-right: -10px; */
// }
// h2 {
//     font-size: 45px;
//     color: #103757;
// }
// h6 {
//     color: #103757;
// }
// input {
//     height: 50px;
// }